.btn {
  @apply .py-3 .px-2 .no-underline .rounded .text-white
}

.btn-sm {
  @apply .pb-1 .px-2;
  padding-top: 6px;
}

.btn-outline {
  @apply .border .border-white
}

.btn-red {
  @apply .border .border-red-dark .text-red-lightest .bg-red .shadow-inner
}

.btn-red:hover {
  @apply .bg-red-dark .text-white
}

.btn-hamburger {
  @apply .inline-flex .items-center .justify-center .px-3 .py-2 .border .text-white .border-white .font-bold;
  z-index: 9999;
}

.btn-hamburger:hover {
  @apply .text-red .border-red
}

.btn-submit {
  @apply .bg-red .text-white
}

.btn-submit:hover {
  @apply .bg-red-dark
}

.btn-submit:disabled {
  @apply .bg-red-dark .cursor-not-allowed
}

.btn-block {
  @apply .w-full
}

.btn-transparent {
  @apply .border-white .border;
  background: rgba(255,255,255,0.1)
}

.btn-transparent:hover {
  @apply .bg-red .border-transparent
}

.btn, .button{
  text-decoration: none;
}